.admin-container {
    display: flex;
}

/* .admin_sidebar{
    height: 1000px;
    background-image: url('../image/background-banner.png');
} */

.admin-content {
    padding-left: 40px;
    padding-right: 40px;
}