.blogpage h1 {
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0
}

.blogpage .aside-item {
    margin-top: 5px
}

.blogpage .item_blog_base {
    margin-bottom: 45px
}

.blogpage .item_blog_base .thumb {
    display: block;
    border-radius: 10px;
    margin-bottom: 15px
}

.blogpage .item_blog_base .tagname {
    margin-bottom: 11px;
    border-radius: 0 5px 5px 0
}

.blogpage .item_blog_base h3 {
    font-family: var(--font-base-medium);
    margin-bottom: 10px
}

.blogpage .item_blog_base p {
    display: none
}

.content_blogs {
    width: 196px;
}

.content_blogs .titles {
    width: 260px;
    height: 120px;
}

.thumb img {
    border-radius: 5px;
}

.content_blogs .a-title {
    font-size: 20px;
    height: 120px;
    text-decoration: none;
    color: black;
}

.content_blogs .a-title:hover {
    color: #007700;
}

.content_blogs .dates {
    font-size: 15px;
}

.aside-item h2 {
    font-size: 25px;
    font-weight: bold;
    color: #009900;
}