.aside-item h2 {
    font-family: var(--font-base-bold);
    text-transform: none;
    font-size: 20px;
    color: var(--main-color);
    margin-bottom: 20px;
    display: block;
    padding-top: 0
}


.row-book {
    display: flex;
    justify-content: space-around;
}

.aside-item .aside-title {
    position: relative
}

.aside-item .aside-content {
    border-radius: 0px
}

.aside-item .aside-content ul {
    padding-left: 0px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto
}

.aside-item .aside-content ul::-webkit-scrollbar {
    width: 2px;
    background-color: #E5E5E5
}

.aside-item .aside-content ul::-webkit-scrollbar-thumb {
    background-color: #E5E5E5;
    border: 1px solid #8C8C8C
}

.aside-item .aside-content {
    position: relative;
    padding-top: 0
}

.aside-item.active .aside-content {
    display: block
}

.wrap-srt-title {
    display: flex;
    justify-content: space-between
}

.sortby {
    display: flex;
    width: 100%;
    justify-content: end;
    height: 60px;
    align-items: center;
    background: #F5F5F5;
    margin-bottom: 40px;
    padding: 0 15px
}

.sortby .sort-icon {
    padding-left: 25px
}



.sortby span,
.sortby ul li a {
    font-size: 14px;
    color: #2E3A59;
    height: 32px;
    line-height: 32px
}

.sortby ul {
    padding: 0;
    margin: 0 0 0 5px
}

.sortby ul li {
    display: inline-flex;
    padding: 0 10px;
    background: #fff;
    height: 32px;
    line-height: 32px;
    border-radius: 5px;
    transition: all 0.3s;
    margin-left: 10px
}

.sortby ul li.active,
.sortby ul li:hover {
    background: #7B7B7D;
    color: #fff;
    cursor: pointer;
}


.collection .category-products .item_product_main {
    position: relative;
    margin-bottom: 40px
}

.info-product h3 {
    height: 80px;
}

.info-product button {
    margin-top: 10px;
}

.search-bar {
    height: 40px;
    margin: 24px 0 -0 -38px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    border: solid 1px #BBBBBF;
    width: 240px;
    margin-bottom: 25px
}

.search-bar input {
    height: 40px;
    border: none;
    background: #fff;
    padding: 0 50px 0 20px
}

.search-bar input:focus {
    outline: none;
}

.search-bar .search-button {
    width: 45px;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0
}

.search-bar .search-button svg {
    width: 24px;
    height: 24px;
    margin: 5px
}

.customs-btn-numbers {
    position: relative;
    width: 100px;
    margin-left: 355px;
    display: flex;
    justify-content: center;
}

.customs-btn-numbers button {
    width: 30px;
    height: 32px;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #ee4f83;
    padding: 0;
    font-weight: 400;
    float: left;
    border-radius: 0;
    line-height: 22px;
    position: absolute;
    z-index: 1;
    right: 4px;
    top: -2px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.customs-btn-numbers button.btn-minus {
    left: 0;
    top: 0
}

.customs-btn-numbers input {
    float: left;
    width: 100px;
    height: 32px;
    border: solid 1px #E5E5E5;
    padding: 0 30px;
    text-align: center;
    font-size: 16px;
    min-height: unset;
    margin: 0;
    border-radius: 5px
}

.customs-btn-numbers button.btn-minus {
    left: 0;
    top: 0
}