header {
    height: 90px;
    border-bottom: solid 1px green;
    position: relative
}

header .logo {
    height: 88px;
    align-items: center;
    display: flex
}

header .user-name {
    height: 24px;
    position: absolute;
    top: 33px;
    left: 30px;
    color: #008800;
}

header .user-header {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 28px;
    right: 47px;
    cursor: pointer
}

header .user-header svg {
    width: 24px;
    height: 24px;
    margin: 5px
}

header .user-header .account-header {
    display: none;
    width: 150px;
    position: absolute;
    top: 26px;
    right: 0;
    background: #fff;
    z-index: 99;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(159, 184, 192, 0.25)
}

header .user-header .account-header a:hover {
    color: var(--hover)
}

header .user-header:hover .account-header {
    display: flex;
    flex-flow: column
}

header .cart-head {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 28px;
    right: 15px;
    cursor: pointer
}

header .cart-head svg {
    width: 24px;
    height: 24px;
    margin: 5px
}

.nav-horizontal>ul.item_big {
    margin-left: 50px;
}


.nav-horizontal>ul.item_big>li.nav-item {
    display: inline-block;
    position: static;
    margin: 0 10px;
    padding: 0px;
    height: 88px;
}

.nav-horizontal>ul.item_big>li.nav-item:first-child {
    margin-left: 0
}


.nav-horizontal>ul.item_big>li.nav-item>a {
    display: block;
    text-align: left;
    padding: 0px 0px;
    font-size: 16px;
    font-family: var(--font-base-medium);
    font-weight: bold;
    height: 88px;
    line-height: 88px;
    position: relative;
    text-decoration: none;
    color: #151515;
    white-space: normal
}


.nav-horizontal>ul.item_big>li.nav-item>a.caret-down {
    padding: 0px 15px 0 0px
}

.nav-horizontal>ul.item_big>li.nav-item:hover>a {
    color: gray
}