body .button-add {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.button-add h1 {
  color: #43CD80;
  margin-left: 50px;
  margin-top: 20px;
}

.button-add button {
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.customs-btns-numbers {
  position: relative;
  width: 100px;
  margin-left: 700px;
  display: flex;
  justify-content: center;
}

.customs-btns-numbers button {
  width: 30px;
  height: 32px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #ee4f83;
  padding: 0;
  font-weight: 400;
  float: left;
  border-radius: 0;
  line-height: 22px;
  position: absolute;
  z-index: 1;
  right: 4px;
  top: -2px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center
}

.customs-btns-numbers button.btn-minus {
  left: 0;
  top: 0
}

.customs-btns-numbers input {
  float: left;
  width: 100px;
  height: 32px;
  border: solid 1px #E5E5E5;
  padding: 0 30px;
  text-align: center;
  font-size: 16px;
  min-height: unset;
  margin: 0;
  border-radius: 5px
}

.customs-btns-numbers button.btn-minus {
  left: 0;
  top: 0
}

tbody .status-completed {
  color: #009900
}

tbody .status-cancelled {
  color: #DD0000
}

tbody .status-pending {
  color: #FFAA1D
}

tbody .status-processing {
  color: #FFB90F
}

tbody .status-delivering {
  color: cornflowerblue
}