.section_blog_first {
    padding: 30px 0 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid green;
    background-image: url(https://bizweb.dktcdn.net/100/363/455/themes/918830/assets/background-banner.jpg?1704690471681);
}

.section_blog_first .item_blog_base {
    background: #fff;
    border-radius: 5px;
    overflow: hidden
}

.section_blog_first .item_blog_base .thumb {
    display: block
}

.section_blog_first .item_blog_base .content_blog {
    padding: 10px 20px 15px
}

.section_blog_first .slide-blog-large .swiper-button-next,
.section_blog_first .slide-blog-large .swiper-button-prev {
    top: 40%
}

.section_blog_first .slide-blog-large .swiper-button-next {
    right: 0
}

.section_blog_first .slide-blog-large .swiper-button-prev {
    left: 0
}

.section_blog_first .d-list .item_blog_base {
    display: flex
}

.section_blog_first .d-list .thumb {
    width: 196px;
    overflow: hidden
}

.section_blog_first .d-list .thumb img {
    transition: all 0.5s
}

.section_blog_first .d-list .content_blog {
    width: calc(100% - 196px)
}

.section_blog_first .d-list h3 {
    font-size: 14px;
    max-height: 57px
}

.section_blog_first .d-list .item {
    padding: 24px 0;
    border-bottom: solid 1px #BBBBBF
}

.section_blog_first .d-list .item:last-child {
    padding-bottom: 0;
    border-bottom: none
}

.section_blog_first .d-list .item:first-child {
    padding-top: 0
}

.content_blog .a-title {
    height: 70px;
}